{mode, max}.

{duration, 5}.
{report_interval, 1}.

{concurrent, 1}.

{driver, basho_bench_driver_kv}.

{code_paths, ["/Users/balegas/workspace/erlang/riak-erlang-client"]}.

{key_generator, {uniform_int, 10}}.
{disable_sequential_int_progress_report, true}.
{value_generator, {fixed_bin, 10}}.

{operations, [{get, 1}, {get_put, 1}, {list, 1}]}.
